<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
<META HTTP-EQUIV="Content-Script-Type" CONTENT="text/javascript">
<META HTTP-EQUIV="Content-Style-Type" CONTENT="text/css">

<META NAME="robots" content="noindex,nofollow">

<TITLE>目次</TITLE>

<!--#config errmsg=""-->
<!--#config timefmt="<%Y.%m.%d>"-->

<STYLE TYPE="text/css"> <!------------------------------------------->

</STYLE>

</HEAD>

<BODY> <!------------------------------------------------------------>

<DIV ALIGN="center">
  <H3> 応用プログラミング演習 </H3>
  <H2> ボードゲーム五五の戦略 </H2>
</DIV>

<HR> <!-------------------------------------------------------------->

<H4> ● ボードゲーム 五五 </H4>

<UL>
<LI> 五五ゲームのルール &nbsp; <A HREF="rule.html" TARGET="_blank">[rule.html]</A></LI>
<LI> 大会ルール &nbsp; <A HREF="compe.html" TARGET="_blank">[compe.html]</A></LI>
</UL>

<HR> <!-------------------------------------------------------------->

<H4> ● 実行環境 </H4>

<UL>
<LI> 実行環境の概要 &nbsp; <A HREF="operate.html" TARGET="_blank">[operate.html]</A></LI>
<LI> 対戦実行モジュールの操作方法 &nbsp; <A HREF="act.html" TARGET="_blank">[act.html]</A></LI>
<LI> 局面生成モジュールの操作方法 &nbsp; <A HREF="edit.html" TARGET="_blank">[edit.html]</A></LI>
<LI> 戦譜再現モジュールの操作方法 &nbsp; <A HREF="re.html" TARGET="_blank">[re.html]</A></LI>
<P></P>
<!--<LI> 対戦実行モジュールの内部構造 &nbsp; <A HREF="sys.html" TARGET="_blank">[sys.html]</A></LI>-->
<LI> ユーザ戦略の作り方 &nbsp; <A HREF="sys.html" TARGET="_blank">[sys.html]</A></LI>
<LI> 戦略作成の指針 &nbsp; <A HREF="guide.html" TARGET="_blank">[guide.html]</A></LI>
</UL>

<HR> <!-------------------------------------------------------------->

</BODY>

</HTML>
